
body{
    background-color:rgb(19, 18, 18);
    color: white;
    font-family: sans-serif;
}

.derecha {
    display: block;
    float: left;
    width: 45%;
}

.izquierda {
    display: block;
    float: left;
    width: 15%;
}

.seccion{
    width: 100%;
    font-size: 15px;
    float:right;
    padding: 20px;
    padding-bottom: 11.5%;
}

.fondo-turquesa{
    background-color: turquoise;
}

.fondo-amarillo{
    background-color: yellow;
    
}

.fondo-naranjo{
    background-color: orange;
}

.fondo-rojo{
    background-color: red;
}
