<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <h1>ONG AYUDA A UN PELUDO</h1>

    <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="menu.html">Adopcion</a></li>
        <li><a href="contactanos.html">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>

    <h2> Nuestros integrantes: </h2>


    <div>
        <p>Nestor Castillo: </p>
        <p>Alan Lepe: </p>
        <p>Jose López: </p>
    </div>

</body>