<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad Formativa N°1</title>
    <link rel="stylesheet" href="main.css">

</head>

<body>

    <h1>ONG AYUDA A UN PELUDO</h1>
    <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="menu.html">Adopcion</a></li>
        <li><a href="contactanos.html">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
    <div>
        <img src="imagenes/logo.png" alt="Imagen Logo" />
        <h4>
            Es un orgullo para nosotros dar muestra a nuestra bienvenida a todo aquel amante de los animales
            podras encontrar un grupo de compañeros peludos para acompañarte en tu vida, y asi tu tambien podras
            brindarles luz a sus vidas

            Por el momento solo recibimos y ayudamos a perros y gatos pero proximamente estaremos gustos de habrir
            nuestras
            puertas a todos los compañeros animales que necesiten nuestra ayuda para buscar un hogar
        </h4>
    </div>

</body>

</html>