<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="main.css">

    </head>
    <body>
        <h1>ONG AYUDA A UN PELUDO</h1>

        <ul>
            <li><a href="main.html">Home</a></li>
            <li><a href="menu.html">Adopcion</a></li>
            <li><a href="contactanos.html">Contact</a></li>
            <li style="float:right"><a class="active" href="#about">About</a></li>
        </ul>

        <h2>Nuestras Secciones de ayuda: </h2>

            <section>
                <a href="secciongatos.html">
                    <img src="https://i.pinimg.com/564x/74/35/c1/7435c11a830d3599e3791cbae1eba0d8.jpg" alt="gatos" />
                    <h3>Gatos</h3>
                </a>
            </section>
            <section>
                <a href="seccionperros.html">
                    <img src="https://d8tc6urvga8o3.cloudfront.net/media/files/uploads/2013/07/dog-eating-grass.jpg"
                        alt="perros" />
                    <h3>Perros</h3>
                </a>
            </section>

    </body>
