<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cachulo</title>
    <link rel="stylesheet" href="main.css">

</head>
<center><body>
    <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="menu.html">Adopcion</a></li>
        <li><a href="contactanos.html">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
    <h1>Cachulo</h1>
    
    
    <img src="https://i.pinimg.com/474x/2c/17/0e/2c170e34cb7c843e8c7c84f428479ba0.jpg" alt="Cachulo"/>
    
    <p>   Nombre: Cachulo </p>
    <p>   Edad: 4 años</p>
    <p>   G&eacute;nero: Macho</p>
    <p>   Esterilizado: Si </p>
    <p>   Nro chip: 33333333</p> 

    
    
    
</body></center>
</html>