<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaca</title>
    <link rel="stylesheet" href="main.css">

</head>
<center><body>
    <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="menu.html">Adopcion</a></li>
        <li><a href="contactanos.html">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
    <h1>Flaca</h1>
    
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkaRPqqs5hNlH1B6j0r0WIw4nBaUNWAOJLDw&usqp=CAU" alt="Flaca"/>
    
    <p>   Nombre: Niña </p>
    <p>   Edad: 3 años</p>
    <p>   G&eacute;nero: Hembra</p>
    <p>   Esterilizado: Si </p>
    <p>   Nro chip: 11111111</p> 

    
    
    
</body></center>
</html>