<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ginger</title>
    <link rel="stylesheet" href="main.css">

</head>
<center><body>
    <ul>
        <li><a href="../main.html">Home</a></li>
        <li><a href="../menu.html">Adopcion</a></li>
        <li><a href="../contactanos.html">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
    <h1>Ginger</h1>
    
    
    <img src="https://f.rpp-noticias.io/2019/02/22/756457descarga-1jpg.jpg" alt="Ginger"/>
    
    <p>   Nombre: Ginger </p>
    <p>   Edad: 1 año</p>
    <p>   G&eacute;nero: Hembra</p>
    <p>   Esterilizado: No </p>
    <p>   Nro chip: 34567891</p> 

    
    
    
</body></center>
</html>