<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatos en adopcion</title>
    <link rel="stylesheet" href="main.css">

</head>
<center><body>
    <ul>
        <li><a href="../main.html">Home</a></li>
        <li><a href="../menu.html">Adopcion</a></li>
        <li><a href="../contactanos.html">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
    <h1>Gatos en Adopci&oacute;n</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud 
        exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.
    </p>

    <h2>Nuestros gatos que buscan familia</h2>

    <section>
        <a href="ginger.html">
            <img src="https://f.rpp-noticias.io/2019/02/22/756457descarga-1jpg.jpg" alt="ginger"/>
            <h3>Ginger</h3>
        </a>
    </section>
    <section>
        <a href="tommy.html">
            <img src="https://m.media-amazon.com/images/I/81bDxX1NjmL._CR204,0,1224,1224_UX256.jpg" alt="tommy"/>
            <h3>Tommy</h3>
        </a>
    </section>
    <section>
        <a href="lucifer.html">
            <img src="https://pbs.twimg.com/profile_images/378800000143903677/15b0017cbe97e23e05c4a573f28b1432.jpeg" alt="lucifer"/>
            <h3>Lucifer</h3>
        </a>
    </section>
</body></center>
</html>